body {
    margin: 0;
    user-select: none;
}
#screen {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    color: white;
    text-align: center;
    line-height: 100%;
    font-size: 8vh;
}
#guide {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: fixed;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}
#guide > *:nth-child(2) {
    background-color: white;
    color: black;
}
@media( orientation: portrait ){
    html {
        transform: rotate(90deg);
        transform-origin: top left;
        position: fixed;
        top: 0;
        left: 100%;
        width: 100vh;
        height: 100vw;
    }
    #screen {
        font-size: 8vw;
    }
}